.studentbooksbookid {
  width: 5.85%;
}
.studentbooksbookname {
  width: 38.5%;
}
.studentbooksauthor {
  width: 21.5%;
}
.studentbooksgenre {
  width: 11.4%;
}
.studentbooksqty {
  width: 5.5%;
}

.studentbookscell0 {
  width: 16.2%;
}
