

.grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 20px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}
.link{
  
  text-align: center;
  width: 100%;
  text-decoration: none;  
}
.bt{
  width: 90%;
  height: 15vh;
  font-size: 50pt;
}

.table{
  margin-top: 5vh;
  background-color :whitesmoke;
}
.container {
  width: 90%;
  margin-top: 7vh;
  margin-bottom: 7vh;  
  /* padding-right: 15px; */
  /* padding-left: 15px; */
  margin-right: auto;
  margin-left: auto;
} 
.contain{
  width: 90%;
  height: 75vh ;
  margin-top: 10vh;
  border-style: solid;
  background-color: aliceblue;
  border-radius: 5pt;
  border-color: rgb(158, 48, 149);
  /* margin-bottom: 7vh;   */
  /* padding-right: 15px; */
  /* padding-left: 15px; */
  margin-right: auto;
  margin-left: auto;
}