.css-19kzrtu {
  padding: 0px;
}
.css-rqglhn-MuiTable-root {
  /* height: 50%; */
  width: 100%;
}
.css-ke5b6m-MuiButtonBase-root-MuiButton-root {
  font-size: 1rem;
  width: 90%;
  height: 100px;
}
.css-kjirbw-MuiButtonBase-root-MuiButton-root {
  font-size: 1rem;
  width: 90%;
  height: 100px;
}

.css-1qtu9q6-MuiButtonBase-root-MuiButton-root {
  width: 90%;
  height: 100px;
  font-size: 1rem;
}
.css-1wvnaxz-MuiTableCell-root.MuiTableCell-head {
  background-color: blue;
}
