.css-19kzrtu {
  padding: 0px;
}
.css-rqglhn-MuiTable-root {
  /* height: 50%; */
  width: 100%;
}
.css-ke5b6m-MuiButtonBase-root-MuiButton-root {
  font-size: 1.2rem;
}
.css-kjirbw-MuiButtonBase-root-MuiButton-root {
  font-size: 1.2rem;
}

.css-1qtu9q6-MuiButtonBase-root-MuiButton-root {
  font-size: 1.2rem;
}
